<div class="container mt-5 w-50 ">
    <a class="btn btn-success" [routerLink]="['/empleados/form']">
        <i class="fa-solid fa-plus"></i>
        ADD
    </a>
    <table class="table mt-3 ms-auto me-auto text-center table-bordered table-stripped">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>DEPARTAMENTO</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of empleados">
                <td>{{e.nombre}}</td>
                <td>{{e.apellidos}}</td>
                <td>{{e.departamento}}</td>
                <td><a class="btn btn-primary" [routerLink]="['/empleados/modificar/', e.id]"><i class="fa-solid fa-pencil"></i></a></td>
                <td><a class="btn btn-danger" (click)="delete(e.id)"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>